@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto:ital,wght@1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    background: #fff;
    box-shadow: 0px 0px 10px;
    z-index: 1;
}

.logo{
    position: absolute;
    left: 30px;
    top: 10px;
}

.logo img{
    width: 50px;
}
input{display: none;}

.btn__menu{
    width: 40px;
    height: 27px;
    position: absolute;
    right: 25px;
    top: 20px;
    cursor: pointer;
}

.btn__menu span{
    position:relative;
    display:block;
    width:30px;
    height:4px;
    background:red;
    border-radius:5px;
    transition:all 400ms ease-in-out;
    margin:3px 0px 0px 4px;
    transform-origin:4px 0px;

}

input:checked ~ .btn__menu span:nth-last-child(3){
    transform:rotate(38deg) translate(2px, -1px);
}

input:checked ~ .btn__menu span:nth-last-child(2){
    transform:rotate(0deg) scale(0.2);
    opacity:0;
}

input:checked ~ .btn__menu span:nth-last-child(1){
    transform:rotate(-40deg);
  
}

.menu{
    position: absolute;
    background: #fff;
    top: 60px;
    width: 100%;
    display: none;

}

.menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu ul li{
    list-style: none;
    line-height: 3em;
}

.menu ul li a{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    font-weight: 700;
    padding: 3px 5px;
}

.menu ul li a:hover{
    background: #e13f3f;
    color: #fff;
    transition: all 100ms ease-in-out;
}

.tittle{
    font-size: 2em;
    padding: 10px 20px;
    font-weight: 700;
}

.slider{
    width: 100%;
    margin-top: 60px;
}

.text{
    position: absolute;
    color: #fff;
    font-weight: 700;
    top: 50%;
    left: 1%;
    text-align: center;
    transform: translateX(-1500px);
    transition: all 2s ;
}


.banner{
    background-image: url(../img/rose.jpg);
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position:center;
    position: relative;
}

.banner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 0;
    width: 100%;
    height: 100%;
    background: #D38312;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A83279, #D38312);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A83279, #D38312); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.3;
    animation: cambio 10s  infinite;
    animation-delay: 3s;
}


@keyframes cambio{
   
    25%{
        background: #654ea3;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        opacity: 0.6;
    }
    50%{
       background: #ef32d9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #89fffd, #ef32d9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

       
    }
    75%{
        background: #1A2980;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        opacity: 0.5;
    }
    100%{
       background: #1D976C;  /* fallback for old browsers */
       background: -webkit-linear-gradient(left, #93F9B9, #1D976C);
       background: -o-linear-gradient(left, #93F9B9, #1D976C);
       background: linear-gradient(to right, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       opacity: 0.4;
        
    }

}

.galeria{
    width: 100%;
    padding: 20px;
    position: relative;
}
.fila{
    
}

.galeria img{
    width: 100%;
    display: block;
    backface-visibility: hidden;
    padding: 5px ;
    object-fit: cover;
}

.t{
    font-size: 1.5em; 
    text-align: center;
    margin: 20px;
}



@media screen and (min-width:480px){
    .fila{
        display: flex;
    }
    .columna1{
        width: 30%;
    }
    .columna1 img{
        height: 150px;
    }
    .columna2{
        width: 70%;  
    }
    .columna2 img{
        height: 300px;
    }
}


@media screen and (min-width:768px){
    
    .banner{
        height: 500px;
    }
    .text{
        left: 10%;
        font-size: 1.5em;
    }
     .galeria{
        width: 600px;
        margin: auto;
    }
    
    .btn__menu{
        display: none;
    }
    
    input{
        display: none;
    }
    
    .menu{
        display: block;
        top: 0;
        background: none;
        height: 60px;
        width: 70%;
        right: 0;
    }
    .menu ul{
        flex-direction: row;
        height: 60px;
        justify-content: flex-end;
    }
    .menu ul li{
        line-height: none;
        margin-right: 30px;
    }
    
    .menu ul li a{
        
    }
}


@media screen and (min-width:1024px){
    
    .banner{
        height: 650px;
        
    }
    .text{
        font-size: 2em;
    }
    .galeria{
        width: 900px;
        margin: auto;
    }
    .columna1 img{
        height: 210px;
    }
    .columna2 img{
        height: 420px;
    }
    
    .logo{
        left: 100px;
    }
    
    .menu{
        right: 60px;
    }
    
}

@media screen and (min-width:1200px){
    .galeria{
        width: 1100px;
    }
     .columna1 img{
        height: 250px;
    }
    .columna2 img{
        height: 500px;
    }
   
}



